strong {color:#00FFFF;}
em {color:#FAEBD7;}
body {background-color: white;}

#missao {font-size: 40px;}

#banner {width:100%}

p {
	text-align: center;
}

.titulo-principal{ 
	padding-left: 20px;}

.titulo-centralizado
{text-align: center;
border: 10px solid;
}
h2
ul {display: inline-block;
 vertical-align: top;
 width: 20%;
margin-right: 15%;}

#missao{
	font-size: 40px;
}
#banner{
	width: 100%;
}
.principal{background:#CCCCCC;
padding: 30px}

.itens{font-size: italic;}
.beneficios{background: #FFFFFF;padding: 20PX;}
.imagembeneficios{width: 50%;}
